# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [8]:
#only parenthesis is not enough
t = ('IHSANUR')
type(t)

str

In [6]:
#need a comma at the end
t = ('IHSANUR',)
type(t)

tuple

In [7]:
#parenthesis is optional
t = "IHSANUR", 
print(type(t))

print(t)

<class 'tuple'>
('IHSANUR',)