# Changing a Tuple

#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [1]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [4]:
t[4][1] = 'IHSAN'
print(t)

IndexError: tuple index out of range

In [5]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [7]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('IHSAN', ) * 4)
print(t)

('IHSAN', 'IHSAN', 'IHSAN', 'IHSAN')